<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Dear <%= @invitee.addressee %>,
    <p>
      Please find your invitation attached.
    </p>
    <p>
      <%= image_tag(attachments['invitation.png'].url, :style => "border: 3px solid #4D648E") %>
    </p>
    <p>
    <% if attachments.inline['rsvp.png'] %>
      <%= link_to rsvp_main_invitee_url(@invitee) do %>
        <%= image_tag(attachments['rsvp.png'].url, width: '75%') %>
      <% end %>
    <% end %>
    </p>
  </body>
</html>
