<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Hi MegaJon,
    <p>
    <%= @invitee.name %> has responded and they 
    <%= @invitee.attending ? "will be attending with #{ pluralize(@invitee.number, "guest") }" : "won't be attending" %>.
    </p>
    <p>
    Regards,
    <br/>
    MegaJon.
  </body>
</html>
