<nav class='navbar navbar-default' role='navigation'>
  <div class='navbar-header'>
    <%= link_to invitees_path do %>
      <%= image_tag image_path('mjf.png'), height: '90%', width: '90%', style: 'max-width:100px' %>
    <% end %>
  </div>
</nav>

