<%= form_for(@invitee, :html => { class: 'form-horizontal', role: 'form' }) do |f| %>
  <% if @invitee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invitee.errors.count, "error") %> prohibited this invitee from being saved:</h2>
      <ul>
      <% @invitee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label for="invitee_number" class="col-sm-3 control-label">How many guests will be attending?</label>
    <div class="col-sm-6 col-xs-6 col-md-2">
      <div class="col-sm-10 col-xs-12 col-md-9">
        <%= f.text_field :number, value: (@invitee.number || '1'), class: "form-control rsvp_input" %>
      </div>
    </div>
  </div>
  
  <div class="field">
    <%= f.hidden_field :is_attending_patch, value: true %>
  </div>

  <div class="form-group">
    <div class="col-sm-4">
      <%= f.submit 'Submit', class: 'btn btn-primary'%>
    </div>
  </div>
<% end %>

<script>
  $("#invitee_number").TouchSpin({
    min: 1,
    max: <%= @invitee.max_guests %>,
    verticalupclass: 'glyphicon glyphicon-plus',
    verticaldownclass: 'glyphicon glyphicon-minus'
  });
</script>
