<%= form_for(@invitee, :html => { class: 'form-horizontal', role: 'form' }) do |f| %>
  <% if @invitee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invitee.errors.count, "error") %> prohibited this invitee from being saved:</h2>

      <ul>
      <% @invitee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :attending, value: false %>
  </div>

  <div class="field">
    <%= f.hidden_field :is_attending_patch, value: true %>
  </div>

  <div class="form-group">
    <div class="col-sm-4">
      <%= f.submit 'Submit', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
