<% if logged_in? %>
  <ul class='nav nav-tabs' role='tablist'>
    <li class='active'><%= link_to 'Invitees', invitees_path %></li>
    <li><%= link_to "Log out", logout_path, method: "delete" %></li>
  </ul>


  <h1>Listing Invitees</h1>

  <table id='invitees' data-source="<%= index_datatable_url(format: "json") %>" class="hover stripe">
    <thead>
      <tr>
        <th>Select</th>
        <th>Name</th>
        <th>Addressee</th>
        <th>Email</th>
        <th>Number</th>
        <th>Max Guests</th>
        <th>Attending</th>
        <th>RSVP</th>
        <th>Edit</th>
        <th>Destroy</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td id='total_number'></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tfoot>
    <tbody>
    </tbody>
  </table>
  
  </br>

  <%= link_to new_invitee_path, class: 'btn btn-primary' do %>
    <i class='glyphicon glyphicon-plus'></i> New Invitee
  <% end %>
  <%= form_tag mass_email_invitees_path, method: :post, data: { confirm: 'Email all selected?' }, id: 'email_selected_form', style: 'display:inline; margin:0px; padding:0px;', remote: true do %>
    <%= button_tag(class: 'btn btn-primary') do %>
      <i class='fa fa-envelope'></i> Email Selected
    <% end %>
  <% end %>
  <%= link_to mass_email_invitees_path, method: :post, data: { confirm: 'Send all invitations?' }, :remote => true, class: 'btn btn-primary', id: 'email_all_invitations' do %>
    <i class='fa fa-envelope'></i> Email All Invitees
  <% end %>
  
  <form class='btn btn-primary dropzone dz-clickable' id='dropzone_div'>
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  </form>

  <div id="email_response"><ul id="email_response_list"></ul></div>
<% else %>
  <ul class='nav nav-tabs' role='tablist'>
    <li class='active'><%= link_to "Log in", login_path, class: 'btn btn-primary' %></li>
  </ul>
<% end %>
