$('#email_response_heading').remove();
$('.email_invitee').remove();

<% @invitees.each do |invitee| %>
  $('#email_response_list').append('<li class="email_invitee"> <%= j invitee.name.html_safe %> </li> ')
<% end %>
$('#email_response').prepend('<h3 id="email_response_heading">Email sent to:</h3>');
