<%= provide :title, @invitee.addressee %>

<p>
  <%= @invitee.addressee %>, thank you for your RSVP.
</p>

<% if @invitee.attending %>
  We are so glad that you could join us.
<% else %>
  We are so sorry that you won't be joining us.
<% end %>
