<%= provide :title, @invitee.addressee %>

<p>
  Welcome <%= @invitee.addressee %>,
</p>
<p>
  Will you be attending Megan and Jonathan's wedding?
</p>

<ul class="nav nav-tabs">
    <li> <a href="#attending" data-target="#attending" data-toggle="tab">Attending</a>
    </li>
    <li><a href="#not_attending" data-target="#not_attending" data-toggle="tab">Not Attending</a>
    </li>
</ul>

<div class="tab-content">
  <div class="tab-pane fade" id="attending"><%= render 'attending' %></div>
  <div class="tab-pane fade" id="not_attending"><%= render 'not_attending' %></div>
</div>
