<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @invitee.name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @invitee.number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @invitee.email %>
</p>

<p>
  <strong>Attending:</strong>
  <%= @invitee.attending %>
</p>

<p>
  <strong>Uuid:</strong>
  <%= @invitee.uuid %>
</p>

<%= link_to 'Edit', edit_invitee_path(@invitee) %> |
<%= link_to 'Back', invitees_path %>
