var default_select_button = '<i class="fa fa-check-square"></i>Select All';

function init_invitees_table(){
  var invitees_table = $('#invitees').DataTable({
    pagingType: "full_numbers",
    serverSide: true,
    ajax: {
      url: $('#invitees').data('source'),
      type: 'POST'
    },
    columns: [
            { data: "0", sClass: "alignRight", "orderable": false }, // checkbox
            { data: "1" }, // name
            { data: "2" }, // addressee
            { data: "3" }, // email
            { data: "4", sClass: 'alignRight' }, // number
            { data: "5", sClass: 'alignRight' }, // max_guests
            { data: "6", sClass: 'alignRight' }, // attending
            { title: 'RSVP', data: "7", "orderable": false }, // rsvp
            { title: 'Edit', data: "8", "orderable": false }, // edit
            { title: 'Destroy', data: "9", "orderable": false }, // destroy
    ],
    order: [[ 1, "asc" ]],
    fnDrawCallback: function (oSettings) {
      draw_table_appendages();
    },
    footerCallback: function(tfoot, data, start, end, display){
      var api = this.api();
      $(api.column(4).footer()).html(
          'Total - ' + api.column( 4 ).data().reduce( function ( a, b ) {
              return a + b;
          }, 0)
      );
    },
    dom: 'lftp<"#table_buttons">i'
  });

  // Append the buttons to the div at the bottom of the datatable
  $('#table_buttons').append('<button id="select_button" class="btn btn-info btn-xs all">' + default_select_button + '</button>');
  $('#table_buttons').append('<form action="<%= Rails.application.routes.url_helpers.destroy_by_index_path %>"' +
        'method="POST" data-remote="true" id="destroy_selected_form" class="btn btn-warning btn-xs"' +
        'data-confirm="Are you sure want to destroy the selected invitees">' +
          '<i class="fa fa-remove"></i>' +
          'Destroy Selected' +
          '<input name="authenticity_token" value="' + $('meta[name=csrf-token]').attr('content') + '" type="hidden">' +
        '</form>');
  $('#table_buttons').append('<form action="<%= Rails.application.routes.url_helpers.destroy_by_index_path %>"' +
        'method="POST" data-remote="true" id="destroy_all_form" class="btn btn-danger btn-xs"' +
        'data-confirm="Are you sure want to destroy all invitees">' +
          '<i class="fa fa-exclamation-triangle"></i>' +
          'Destroy All' +
          '<input name="authenticity_token" value="' + $('meta[name=csrf-token]').attr('content') + '" type="hidden">' +
          '<input name="index" value="all" type="hidden">' +
        '</form>');

  $("#destroy_all_form").bind('ajax:complete', reload_table_after_timeout);
  $("#destroy_selected_form").bind('ajax:complete', reload_table_after_timeout);

  $('#destroy_all_form').click(function(){
    $('#destroy_all_form').submit();
  });

  $('#destroy_selected_form').click(function(){
    var checkBoxes = $('.select');
    var ids = []
    $.each(checkBoxes, function(i, check){
      if($(check).is(':checked')){
        ids.push(check.value);
        $('#destroy_selected_form').append('<input name="index[]" id="index" value="' + check.value +'" type="hidden">');
      }
    });
    $('#destroy_selected_form').submit();
  });

  $('#email_selected_form').click(function(e){
    e.preventDefault();
    var checkBoxes = $('.select');
    var ids = []
    $.each(checkBoxes, function(i, check){
      if($(check).is(':checked')){
        ids.push(check.value);
      }
    });
    if(ids.length > 0) {
      $.each(ids, function(i, id){
        $('#email_selected_form').append('<input name="index[]" id="index" value="' + id +'" type="hidden">');
      });
      $('#email_selected_form').submit();
    }
    else {
      alert('Please select at least one invitee');
    }
  });

  return invitees_table;
}

function draw_table_appendages(){
  var checkBoxes = $('.select');
  $('#select_button').click(function(){
    if($(this).hasClass('all')){
      checkBoxes.prop('checked', true);
      $(this).html('<i class="fa fa-minus-square"></i>Select None');
    }
    else if ($(this).hasClass('none')) {
      checkBoxes.prop('checked', false);
      $(this).html(default_select_button);
    }
    $(this).toggleClass('all none');
  });
}

function reload_table_after_timeout(){
  setTimeout(function (){
    $('#invitees').DataTable().ajax.reload();
  }, 1000);
}

function init_dropzone(){
  //This adds a dropzone to the appropriate div
  Dropzone.autoDiscover = false;
  if($('#dropzone_div').length) {
    var dropzone = new Dropzone("#dropzone_div", { url: '<%= Rails.application.routes.url_helpers.import_invitees_path %>' });
    dropzone.on("addedfile", function(file) {
      setTimeout(function (){
        dropzone.removeAllFiles();
        $('#invitees').DataTable().ajax.reload();
      }, 1000);
    });

    $('.container-fluid').on('dragbetterenter', function() {
      $('#dropzone_div').addClass('outline');
    }).on('dragbetterleave', function() {
      $('#dropzone_div').removeClass('outline');
    });

    $('#dropzone_div').on('dragbetterenter', function() {
      $('#dropzone_div').addClass('outline');
    }).on('dragbetterleave', function() {
      $('#dropzone_div').removeClass('outline');
    });
  }
}

function init_javascripts(){
  init_invitees_table();
  init_dropzone();
  $("#email_all_invitations").bind('ajax:send ajax:complete', function(){
    $(this).toggleClass('disabled');
    $('.fa-envelope').toggleClass('fa-spinner fa-spin');
  });
}

$(document).on("page:load",function(){
  init_javascripts();
});

$(document).ready(function(){
  //This adds the dragbetter operations to the page and the div
  init_javascripts();
  
  // Initialize the datatable
  $('#invitee_number').focus(function(){
    window.addEventListener('keydown', function (event) {
    // if the keyCode is 16 ( shift key was pressed )
      if (event.keyCode === 48) {
        // prevent default behaviour
        event.preventDefault();
        return false;
      }
    });
  });

  $('.fa-icon').hover(
    function(){
      $("i", this).addClass('fa-spin');
      $.each($(this).prevAll(), function(index, value){
        $("i", value).addClass('fa-spin');
      });
    },
    function(){
      $("i", this).removeClass('fa-spin');
      $.each($(this).prevAll(), function(index, value){
        $("i", this).removeClass('fa-spin');
      });
    }
  );

  $('.fa-icon').click(function(){
    $("i", this).addClass('fa-inverse');
    $("i", this).removeClass('fa-spin');
    $.each($(this).prevAll(), function(index, value){
      $("i", value).addClass('fa-inverse');
      $("i", value).removeClass('fa-spin');
    });
    $.each($(this).nextAll(), function(index, value){
      $("i", value).removeClass('fa-inverse');
    });
  });
})
