.footer-wrapper {
  background: #232323;
  margin-top: 6em;
}
footer {
  color: #ffffff;
  padding: 4em 0;
}
footer ul {
  margin-bottom: 0;
}
ul.credits li {
  color: #95a5a6;
  font-size: 0.875em;
}
ul.credits li.footer-title .footer-link {
  color: #95a5a6;
}
ul.inline li {
  margin-right: 1em;
  display: inline-block;
}
