<% if request.original_url =~ /rsvp_main/ %>
  <div class="rsvp-footer">
<% else %>
  <div class='footer-wrapper'>
<% end %>
  <div class="container">
    <!-- Footer -->
    <footer>
      <div class="row">
        <div class="col-lg-12">
          <ul class='inline credits'>
            <li class='footer-title'>Design, Development, & Code By <a href='http://www.bobbidydoo.co.za/' class='footer-link'>Jonathan Frankel</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
</div>
