<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %> | MJF </title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
</head>
<body>
  <%= render 'shared/navigation' %>

  <div class="container-fluid">
    <div id='main'>
      <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>"><%= message %></div>
        <% end %>
      <%= yield %>
    </div>
  </div>
  <%= render 'layouts/footer' %>

</body>
</html>
